.cont-mensaje{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: 0.4s;
}

.mensaje{
    width: 400px;
    height: 200px;
}

.cont-t-m, .cont-i-m{
    width: 400px;
    height: 100px;
}
.cont-i-m{
    display: flex;
}
.cont-b-m{
    width: 200px;
    height: 100px;
}